<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory App</title>
</head>
<body>
    <% const genres = []
       const developers = []
       game.forEach(game => {
        if (!genres.includes(game.genre)) {
            genres.push(game.genre)
        }
        if (!developers.includes(game.developer)) {
            developers.push(game.developer)
        }
       })
    %>
    <% console.log(game) %>
    <header><a href="/">Home</a></header>
    <form action="/games/game/delete" method="post">
        <input type="hidden" name="gameId" value="<%= game[0].id %>">
        <button type="submit">Delete Game</button>
    </form>
    <h2>Update Game</h2>
    <form action="/games/game/update-game" method="POST">
        <label for="name">Game name:</label>
        <input placeholder="Game name" type="text" name="gameName" id="gameName" value="<%= game[0].game %>">
    
        <label for="genres">Genres (comma-separated):</label>
        <input placeholder="Genres" type="text" name="genres" id="genre" value="<%= genres.join(", ") %>">
    
        <label for="developers">Developers (comma-separated)</label>
        <input placeholder="Developers" type="text" name="developers" id="developer" value="<%= developers.join(", ") %>">
    
        <label for="releaseDate">Release Date:</label>
        <input type="date" name="releaseDate" id="releaseDate" value="<%= game[0].release_date %>">

        <input type="hidden" name="gameId" value="<%= game[0].id %>">
    
        <button type="submit">Submit</button>
    </form>

        <li>
            <p>Title: <%= game[0].game %></p>
            <p>Genres: <%= genres.join(", ") %></p>
            <p>Developers: <%= developers.join(", ") %></p>
            <p>Release Date: <%= game[0].release_date %></p>
        </li>
</body>
</html>