<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory App</title>
</head>
<body>
    <header><a href="/">Home</a></header>
    
    <h1><%= genreName %> games</h1>
    <% console.log(games[0]) %>
    <form action="/genres/genre/delete" method="post">
        <input type="hidden" name="genreId" value="<%= genreId %>">
        <button type="submit">Delete Genre</button>
    </form>
    <% console.log(games[0]) %>
    <form action="/genres/genre/update-genre" method="POST">
        <label for="genre">Update Genre Name:</label>
        <input placeholder="Genre" type="text" name="newGenre" id="newGenre">
        <input type="hidden" name="genreId" value="<%= genreId %>">
        <button type="submit">Submit</button>
    </form>
    <% if (games.length > 0) { %>
        <ul>
            <% games.forEach((game) => { %>
                <li>
                    <p>Title: <%= game.game %></p>
                    <p>Developer: <%= game.developer %></p>
                    <p>Release Date: <%= game.release_date %></p>
                </li>
                
          <%  }); %>
        </ul>
    <%}%>
</body>
</html>